input {
  beats {
    port => {{ logstash_listen_port_beats }}
  }
}

# Usually syslog messages when ingested into Elasticsearch has all data in message
# field and that has to be split into individual fields using below filter
filter {
  if [type] == "syslog" {
    json {
      source => "message"
    }
  }
}

output {
  if [@metadata][beat] == "metricbeat" {
    elasticsearch {
      index => "metricbeat-%{+yyyy.MM.dd}"
      hosts => ["{{ logstash_elasticsearch_hosts }}"]
    }
  }
  else {
      elasticsearch { hosts => ["{{ logstash_elasticsearch_hosts }}"] }
  }
# uncomment this for debug messages
#  stdout { codec => rubydebug }
}
