input {
  beats {
    port => {{ logstash_listen_port_beats }}
  }
}

output {
  if [@metadata][beat] == "metricbeat" {
    elasticsearch {
      index => "metricbeat-%{+yyyy.MM.dd}"
      hosts => ["{{ logstash_elasticsearch_hosts }}"]
    }
  }
  else {
      elasticsearch { hosts => ["{{ logstash_elasticsearch_hosts }}"] }
  }
# uncomment this for debug messages
#  stdout { codec => rubydebug }
}
